body {
    background-color: mintcream;
    background-image: url("images/backgroundimage.jpg");
    font-family: "Courier New", "Palatino Linotype";
    color: rgb(33, 196, 179);
}

header, main, footer {
    width: 900px;
    /*background-color: white;*/
    margin: 0 auto;
    padding: 50px;
    font-size: 24px;    
}

/* HEADER STYLES */

header {
    padding-right: 0;
    width: 950px;
}

header, main {
    border-bottom: goldenrod 5px solid;
}

header h1 {
    font-size: 72px;
    text-align: center;
    color: tomato;
    line-height: 84px;
}

#portrait {
    float: left;
}

#title-container {
    margin-left: 200px;
}


nav ul {
    text-align: right;
    border: 5px;
}

nav ul li {
    display: inline-block;
    background-color: goldenrod;
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Palatino Linotype";
}

nav ul li:hover {
    background-color: tomato;
}
  
nav ul li a {
    text-decoration: none;
}

nav ul li a:link, nav ul li a:visited  {
    color: white;
}

nav ul li a:active {
    color: tomato;
}

nav ul li a:hover {
    color: teal;
    background-color: tomato;
    text-decoration: underline overline goldenrod;
    text-decoration-color: white;
}

/* HEADER STYLES END */



/* FOOTER STYLES START */

#footer-content {
    display: flex;
    justify-content: space-between;

}

footer {
    color: Teal;
    font-family: "Courier New, Palatino Linotype";
    line-height: 48px;
}

#copyright {
    color: goldenrod;
    text-transform: uppercase;
    text-align: right;
    font-size: 15px;
}

#social-links ul {
    text-align: left;
    margin-bottom: 20px;
    }

#social-links ul li {
    display: inline-block;
    border: solid 1px tomato;
    border-radius: 10px;
    padding: 0px;
}

#social-links ul li {
    line-height: 100%;
    box-sizing: border-box;
}

#social-links ul li a {
    display: inline-block;
    padding: 8px;
}

/* social links ul li:hover {
    color: white
    background-color: red
}
*/

#social-links ul li a:link {
    color: goldenrod;
}

#social-links ul li a:visited {
    color: rgb(33, 196, 179);
    background-color: goldenrod;
}

#social-links ul li a:hover {
    color: white;
    background-color: tomato;
}

/* FOOTER STYLES END */

/* MAIN DEFAULT STYLES START */

main {
    font-family: "Palatino Linotype" !important;
    color: rgb(33, 196, 179);
}

main h2 {

    text-align: center;
    margin: auto;
}

main p {
    font-size: 24px;
}

/* MAIN DEFAULT STYLES END */

/* HOMEPAGE STYLES START */


.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/backgroundimage.jpg");
}


#home {
    line-height: 30px;
    text-align: justify;
}

/* HOMEPAGE STYLES END */


/*PROJECTS STYLES START */
.project-image {
    width: 150px;
}

#web {
    display: flex;
}

#blog {
    display: flex;
}

#products {
    display: flex;
}


 /* PROJECTS STYLES END */






 /* ABOUT ME STYLES START */


#goals {
    display: flex;
    color: black;
    }

#goals-content {
    margin-left: 20px;
}


#experience {
    display: flex;
    color: black;
}

#experience-content {
    margin-right: 20px;
}

#current-skills {
    display: flex;
    color: black;
}

#current-skills-content {
    margin-left: 20px;
}

 /* ABOUT ME STYLES END */





/* CONTACT STYLES START */

.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/backgroundimage.jpg");
}


#contact-message {
    border: 8px solid;
    border-color: goldenrod;
}


#contact-message h2 {
   /* font-family: "Courier New", "Palatino Linotype"; */
    text-align: center;
    font-size: 60px !important;
    }



/* CONTACT STYLES END */
